{% trans_default_domain easyadmin_config('translation_domain') %}
{% extends easyadmin_config('design.templates.layout') %}

{% block title %}Przychodnia lista wizyt{% endblock %}
{% block body %}
    {% block main %}
        <div>
            <h1>Najbliższe wizyty</h1>
            <a href="{{ path('site') }}">Powrót</a>
        </div>
        <div>
            <table class="table datagrid">

                <thead>
                <tr>
                    <th>Lp.</th>
                    <th scope="col">Początek wizyty</th>
                    <th scope="col">Koniec Wizyty</th>
                    <th scope="col">Lekarz</th>

                </tr>
                </thead>
                <tbody>
                {% for key,item in visits %}
                    <tr data-id="">
                        <td scope="row">{{ key+1 }}</td>
                        <td class="">{{ item.startDate | date }}</td>
                        <td class="">{{ item.endDate | date ('H:i') }}</td>
                        <td class="">{{ item.doctor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}